<!DOCTYPE html>
<html class="vertical-center">
	<head>
		<meta charset="utf-8">
	    <meta name='viewport' content="width=device-width, initial-scale=1">
	    <title>The Video Shelf Welcome Page</title>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
		  <link rel="stylesheet" href="/css/bootstrap.css">
 	    <link rel="stylesheet" href="/css/style.css">
	 	</head>
	<body>
    <div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">

            <!-- If user logged in, only show logout, else show login and register-->
            {{#if user.manager}}
              <li role="presentation"><a href="/manager/userlist">User List</a></li>
            {{/if}}
            {{#if user}}
              <li role="presentation"><a href="/clientlist">Client List</a></li>
              <li role="presentation"><a href="/">Manage Client Videos</a></li>
              <li role="presentation"><a href="/users/requests">Requests</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
  			    {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">The Video Shelf</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
        	{{#if success_msg}}
    				<div class="alert alert-success">{{success_msg}}</div>
    			{{/if}}

    			{{#if error_msg}}
    				<div class="alert alert-danger">{{error_msg}}</div>
    			{{/if}}

    			{{#if error}}
    				<div class="alert alert-danger">{{error}}</div>
    			{{/if}}

    			{{{body}}}
        </div>

        <footer class="footer">
          <p>&copy; 2017 Sinan Muyesser</p>
        </footer>

      </div>
    </div>
    

	</body>
</html>
