<div class="client-page-header page-header">
	<div id="logo-name-group">
		<img id="client-page-logo" src="{{this.logo}}" alt="{{this.name}} logo" style="width: 100px; height: 100px;">
		<h2 id="client-page-name">{{this.name}}</h2>
	</div>
	<ul id="client-page-requests">
	<li><a href="mailto:smuyesser@mail.com
			?subject={{this.name}}%20requests%20more%20filming&amp;
			body=Hi%20I%20would%20like%20to%20request%20more%20filming%20for%20{{this.name}}">Request Further Filming</a>
	</li>
	<li><a href="mailto:smuyesser@mail.com
		?subject={{this.name}}%20requests%20a%20highlight%20reel.&amp;
		body=Hi%20I%20would%20like%20to%20request%20a%20highlight%20reel%20for%20{{this.name}}">Request Highlight Reel</a>
	</li>
	<li><a href="mailto:smuyesser@mail.com
		?subject={{this.name}}%20requests%DVDs&amp;
		body=Hi%20I%20would%20like%20to%20request%20DVDs%20of%20film%20for%20{{this.name}}">Request DVD Copies</a>
	</li>
	</ul>
</div>

{{#each vimeoIds}}
	<div class="vimeoVideo">
		<iframe src="https://player.vimeo.com/video/{{this}}" width="640px" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{{/each}}

