<h2 class="page-header">{{this.name}}</h2>

<img src="{{this.logo}}" alt="{{this.name}} logo" style="width: 100px; height: 100px;">
{{this.name}}</br>
<iframe src="{{this.videos}}" width="500" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></br>

