<h2 class="page-header">Client List</h2>
{{#each clients}}
{{user.id}}
	<div class="client-container">
		<div class="client">
			<img src="{{logo}}" alt="{{name}} logo" style="width: 100px; height: 100px;">
			<div class='client-list-text'>
				<h2>{{name}}</h2></br>
				<p>Client ID: {{id}}</p>
				<p>Video Count: {{videos.length}}</p>
				<p>Client Representative: {{createdBy}}</p>
			</div>
			<ul class="client-btn js-client-btn">
				<li><a href="/users/clientlist/{{id}}"><button type="button" class="btn btn-success js-view-client-btn">View Client</button></a></li>
				<li><a href="/users/editclient/{{id}}"><button type="button" class="btn btn-warning js-update-client-btn">Update Client</button></a></li>
				<li><button type="button" class="btn btn-danger js-delete-client-btn">Delete Client</button></li>
			</ul></br>
		</div>

		<div class="delete-client hidden">
			<h3>Delete Client</h3>
			<form method="delete" id="js-client-delete-form">
				<div class="form-group">
					<label>Confirm {{name}}'s Client ID Matches Below To Delete {{name}}</label>
				<input type="text" class="form-control" id="js-confirm-delete" value="{{id}}" readonly>
				</div>
				<button type="submit" class="btn btn-primary delete-btn">Confirm Delete</button>
			</form>
		</div>
	</div>
{{/each}}
<script type="text/javascript" src="/js/clientdelete.js"></script>
<script type="text/javascript" src="/js/handlebars-helper.js"></script>


