<h2 class="page-header" id="update-client-head">Client To Be Updated</h2>
<img id="update-client-img" src="{{logo}}" alt="{{name}} logo" style="width: 100px; height: 100px;">
<h2 id="update-client-name">{{name}}</h2>
<form method="put" id="js-client-update-form">
	<div class="form-group">
		<label>Client ID</label>
		<input type="text" class="form-control" id="js-client-to-update" value="{{id}}" readonly>
		<label>Update Name</label>
		<input type="text" class="form-control" placeholder="Name" id="js-update-name" name="updatedName" value="{{name}}">
		<label>Update Logo</label>
		<input type="text" class="form-control" placeholder="Logo" id="js-update-logo" name="updatedLogo" value="{{logo}}">
		<div class="update-video-group">
		<label>Update Videos Below:</label></br>
		{{#each videos}}
			<input style="width: 72%; display: inline-block; margin-right: 2%;" type="text" class="form-control" placeholder="Enter Vimeo Video Url" value="{{this}}" id="video-{{@index}}" name="updatedVideos[]">
			<button type="button" style="display: inline-block; width: 70px;" class="client-list-btn js-client-page-remove-vid-btn" id="{{@index}}">Remove</button></br>
		{{/each}}
		</div>
	</div>
	<button type="button" class="client-list-btn addVid-btn" id="update-add-video-btn">Add Video</button>
	<button type="submit" class="client-list-btn update-btn">Submit</button>
</form>

<script type="text/javascript" src="/js/clientupdate.js"></script>
<script type="text/javascript" src="/js/addMoreVideos.js"></script>
